@model Http5101_assignment5.Models.Teacher


@{
    ViewBag.Title = "Show";
}



<div id="containerbox">

    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
</div>

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<div class="container">
   
        <div class="fieldContainer">
            <div class="bold">Employee Number</div>
            <div>@Model.EmployeeNumber</div>
        </div>
        <div class="fieldContainer">
            <div class="bold">Hire Date</div>
            <div>@Model.HireDate</div>
        </div>
        <div class="fieldContainer">
            <div class="bold">Class Code</div>
            <div>@Model.ClassCode</div>
        </div>
        <div class="fieldContainer">
            <div class="bold">Class Name</div>
            <div>@Model.ClassName</div>
        </div>
        <div class="fieldContainer">
            <div class="bold">Salary</div>
            <div>$ @Model.Salary</div>
        </div>
   
</div>
