@model Http5101_assignment5.Models.Teacher


@{
    ViewBag.Title = "Show";
}



<div id="containerbox">

    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
</div>

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<table class="table table-sm">
    <tbody>
        <tr>
            <th scope="row">Employee Number</th>
            <td>@Model.EmployeeNumber</td>
        </tr>
        <tr>
            <th scope="row">Hire Date</th>
            <td>@Model.HireDate</td>
        </tr>
        <tr>
            <th scope="row">Class Code</th>
            <td>@Model.ClassCode</td>
        </tr>
        <tr>
            <th scope="row">Class Name</th>
            <td>@Model.ClassName</td>
        </tr>
        <tr>
            <th scope="row">Salary</th>
            <td>$ @Model.Salary</td>
        </tr>
    </tbody>
</table>
